<div class="container-scroller">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Upload Products</h4>
            <!-- <p class="card-description">Basic form elements</p> -->
            <form class="forms-sample" [formGroup]="uploadProductForm">
              <div class="form-group">
                <label for="exampleInputName1">Scrap Dealer Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Enter Scrap Dealer Name"
                  formControlName="scrapDealerName"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Scrap Dealer Id</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail3"
                  placeholder="Enter Scrap Dealer Id"
                  formControlName="scrapDealerId"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Product Name"
                  formControlName="name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Product Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Product Code"
                  formControlName="code"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Quantity (in KG)"
                  formControlName="quantity"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">MSP</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Minimum Support Price"
                  formControlName="msp"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Cost Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Cost Price"
                  formControlName="cp"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Selling Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Selling Price"
                  formControlName="sp"
                />
              </div>
              <!-- <div class="form-group">
                <label for="exampleInputPassword4">Remarks</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Remarks"
                  formControlName="remarks"
                />
              </div> -->
              <!-- <div class="form-group">
                <label for="exampleSelectGender">Gender</label>
                <select class="form-control" id="exampleSelectGender">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div> -->
              <div class="form-group">
                <label>Upload Photo</label>
                <!-- <input type="file" name="img[]" class="file-upload-default" /> -->
                <div class="input-group col-xs-12">
                  <input
                    type="file"
                    class="form-control file-upload-info"
                    placeholder="Upload Image"
                    (change)="onFileChange($event)"
                    formControlName="image"
                    multiple
                    accept="image/*"
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Upload Video</label>
                <!-- <input type="file" name="img[]" class="file-upload-default" /> -->
                <div class="input-group col-xs-12">
                  <input
                    type="file"
                    class="form-control file-upload-info"
                    placeholder="Upload Video"
                    multiple
                    (change)="onVideoChange($event)"
                    formControlName="video"
                    accept="video/*"
                  />
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="exampleInputCity1">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputCity1"
                  placeholder="Location"
                />
              </div> -->
              <!-- <div class="form-group">
                <label for="exampleTextarea1">Textarea</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea1"
                  rows="4"
                ></textarea>
              </div> -->
              <button
                *ngIf="!isLoading && !isupdate"
                type="submit"
                class="btn btn-primary me-2"
                [disabled]="uploadProductForm.invalid"
                (click)="onSumit()"
              >
                Submit
              </button>
              <button
                *ngIf="isupdate && !isLoading"
                type="submit"
                class="btn btn-primary me-2"
                (click)="onUpdateProduct()"
              >
                Update
              </button>
              <button
                *ngIf="isLoading"
                class="btn btn-primary me-2"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </button>
              <button
                *ngIf="!isupdate && !isLoading"
                (click)="onCancel()"
                class="btn btn-light"
              >
                Cancel
              </button>
              <button
                *ngIf="isupdate && !isLoading"
                class="btn btn-primary me-2"
                (click)="onUpdateCancel()"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->

        <!-- partial -->
      </div>
    </div>
  </div>
</div>
