<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">Leading the way in Adventure</div>
      <div class="div-5">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/93a50239756804ade09eb67e5e4ee021be20530f5666956487d19a364d059ae4?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
          class="img"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae4eb8df5e81f759b4f15d226da6f66e5396ccf8664a9b5c641dd469628b720a?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
          class="img"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/e0fd6275c96cd4d5eadd601619a709f5dd10a04ea71ee24bd4ac4d0ed6617509?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
          class="img"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/fd31bc2ed97a2fb60e42a4138fb809d3907c29f55d2493fff7335740a759ae3c?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
          class="img"
        />
      </div>
      <div class="div-6">
        <div class="div-7">Join our Newsletter</div>
        <div class="div-8">
          <div class="div-9">Enter your email</div>
          <div class="div-10">Submit</div>
        </div>
      </div>
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/95a916635665bbd9d3749b6e84d24865b4d09486fb317ce19acb1712b18469b0?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
      class="img-2"
    />
    <div class="div-11">
      <div class="div-12">
        <div class="column">
          <div class="div-13">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/291b13d728ff8c40d013028293b073c036d5ac0a301dbff340175ec52e6e589b?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
              class="img-3"
            />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/26b6d8b18012a975a1d4a4d225d548b6813b8a2c56417049bbfa100aae5c6bfd?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
              class="img-4"
            />
            <div class="div-14">
              Welcome to a realm where every sip is an invitation to experience
              the artistry of wine.
              <br />
              <br />
              Here, we celebrate the exquisite journey from vine to glass,
              guiding you through a sensorial exploration of flavors, aromas,
              and tales of craftsmanship.
            </div>
          </div>
        </div>
        <div class="column-2">
          <div class="div-15">
            <div class="div-16">
              <div class="column-3">
                <div class="div-17">
                  <div class="div-18">Explore</div>
                  <div class="div-19">About us</div>
                  <div class="div-20">Vineyard stories</div>
                  <div class="div-21">Green Vines Collection</div>
                  <div class="div-22">Wines school</div>
                </div>
              </div>
              <div class="column-4">
                <div class="div-23">
                  <div class="div-24">Quick links</div>
                  <div class="div-25">FAQ</div>
                  <div class="div-26">Terms of service</div>
                  <div class="div-27">Privacy policy</div>
                  <div class="div-28">Reviews</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/95a916635665bbd9d3749b6e84d24865b4d09486fb317ce19acb1712b18469b0?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
      class="img-5"
    />
    <div class="div-29">
      <div class="div-30">© 2023 Vine Gypsy</div>
      <div class="div-31">Privacy</div>
      <div class="div-32">Terms</div>
      <div class="div-33">California Privacy Notice</div>
    </div>
  </div>
</div>
