<!-- <div class="body"> -->
<div class="mainAddDiv">
  <marquee behavior="" direction="">
    <p class="bannerSubjects">
      Wines from Every Horizon
      <span>-</span>
      Where Terroir Meets Tradition
      <span>-</span>
      The Green Vines Collection
      <span>-</span>
      all stars
      <span>-</span>
      Wines from Every Horizon
      <span>-</span>
      The Green Vines Collection
      <span>-</span>
      all stars
      <span>-</span>
      delicious, show-stopping treats
    </p>
  </marquee>
</div>
<!-- <app-nav-component></app-nav-component>
<app-welcome-comp></app-welcome-comp> -->
<!-- </div> -->
