<app-add-banner></app-add-banner>
<app-nav-component></app-nav-component>
<div class="main">
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/acb288ec47a0f0aec1946667c9a0b6d2bf8dfb7c8c58dcfc6ffd3371633a1d62?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
    class="backarrowimg"
  />
  <div class="explore-details">Explore details</div>
</div>
<img loading="lazy" src="../../assets/images/Image.png" class="bigimage" />
<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">San Valentin Garnacha 2016</div>
      <div class="div-5">Established in 1960</div>
    </div>
    <div class="div-6">
      <div class="div-7">Mark as visited</div>
      <img
        loading="lazy"
        src="../../assets/images/calendar-check-02.png"
        class="img"
      />
    </div>
  </div>
  <div class="div-8">Description</div>
  <div class="div-9">
    In addition, people make wine out of other fruits and plants (dandelion
    wine, apple wine, strawberry wine, honey wine, passion fruit wine), so these
    specialty wineries tend to pop up where the other substances are grown. For
    example, a winery in Hawaii produces pineapple wine. In addition, people
    make wine out of other fruits and plants (dandelion wine, apple wine,
    strawberry wine, honey wine, passion fruit wine), so these specialty
    wineries tend to pop up where the other substances are grown. For example, a
    winery in Hawaii produces pineapple wine.
  </div>
  <div class="div-10">Specialities</div>
  <div class="div-11">
    In addition, people make wine out of other fruits and plants (dandelion
    wine, apple wine, strawberry wine, honey wine, passion fruit wine), so these
    specialty wineries tend to pop up where the other substances are grown. For
    example, a winery in Hawaii produces pineapple wine. In addition, people
    make wine out of other fruits and plants (dandelion wine, apple wine,
    strawberry wine, honey wine, passion fruit wine), so these specialty
    wineries tend to pop up where the other substances are grown. For example, a
    winery in Hawaii produces pineapple wine.
  </div>
  <div class="div-12">
    <img
      loading="lazy"
      srcset="
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=100   100w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=200   200w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=400   400w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=800   800w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=1200 1200w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=1600 1600w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&width=2000 2000w,
        https://cdn.builder.io/api/v1/image/assets/TEMP/e721e93d1141e619f52f7ddd1a8d94b964ad4c2dfac07543b1e11fbe28de259e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&
      "
      class="img-2"
    />
    <div class="div-13">Visited by Jane, Tommy & 25 others</div>
  </div>
  <div class="div-14">
    <div class="div-15">
      <div class="div-16">Locate us</div>
      <img
        loading="lazy"
        src="../../assets/images/marker-pin-01.svg"
        class="img-3"
      />
    </div>
    <div class="div-17">
      <div class="div-18">Contact</div>
      <img loading="lazy" src="../../assets/images/phone.png" class="img" />
    </div>
  </div>
</div>
