<div class="mainNav">
  <div class="navContainer">
    <div class="navContainer2">
      <img src="../../assets/images/logo (1).png" alt="" />

      <div class="nav1"></div>
      <div class="nav2"></div>
      <div class="nav3"></div>
      <div class="nav4"></div>
    </div>
    <div class="navItems hand">
      <div
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        class="home"
      >
        Home
      </div>
      <div
        [routerLink]="['/wineries']"
        routerLinkActive="router-link-active"
        class="wineries hand"
      >
        Wineries
      </div>
      <div class="maindisplay">
        <div class="itemList hand">Locate Farms</div>
      </div>
      <div class="itemList">Evaluation</div>
      <div
        [routerLink]="['/aboutus']"
        routerLinkActive="router-link-active"
        class="itemList hand"
      >
        About us
      </div>
      <div class="itemList hand">Contact</div>
    </div>
  </div>
  <div class="socialMedia">
    <div class="socialMedia1">
      <div class="socio">
        <img src="../../assets/images/facebook.png" alt="" />
        <div class="fb"></div>
      </div>
      <div class="socio">
        <img src="../../assets/images/instagram.png" alt="" />
        <div class="insta"></div>
        <div class="insta2"></div>
      </div>
      <div class="socio">
        <img src="../../assets/images/twitter.png" alt="" />

        <div class="twitter"></div>
      </div>
      <div class="socio">
        <img src="../../assets/images/whatsapp.png" alt="" />

        <div class="whatsapp"></div>
      </div>
    </div>
  </div>
</div>
