<div class="bodyColor">
  <div class="row pb-5">
    <div class="col-md-2">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/a0e42cddc00b06c91d8b89d82f66ffa4355c9ca69b5ac13d7ad5e50cb603a33e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
        class="img"
      />
    </div>
    <div class="col-md-8">
      <div class="div-3">
        <div class="div-4 pad">
          Welcome to the <br />
          Art of Tasting
        </div>
        <div class="div-5">
          Indulge your senses and elevate your wine experience with our curated
          selection of exquisite flavors.
        </div>
        <div class="div-6">Add yours now</div>
      </div>
    </div>
    <div class="col-md-2">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0d9845706edc386e2dd4f2343692e901c5a40a1884a8f9649004855843bba4e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
        class="img-2"
      />
    </div>
  </div>
  <div class="divers text-center pt-5 mt-5">
    DIVERSIFICATION OF A CONGLOMERATE
  </div>

  <div class="discover">Discover Your Palate</div>
  <div class="row">
    <div class="col-md-3">
      <div class="discoverContainer">
        <div class="boxClass">
          <img
            loading="lazy"
            src="../../assets/images/wine.png"
            class="cssForshorticon"
          />
        </div>
        <div class="description">Discover your wine preference</div>
        <div class="content">
          Trace the origins of each bottle and learn about the passionate
          winemakers who bring these masterpieces to life.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="discoverContainer">
        <div class="boxClass">
          <img
            loading="lazy"
            src="../../assets/images/bar-location.png"
            class="cssForshorticon"
          />
        </div>
        <div class="description">Vineyard to Glass</div>
        <div class="content">
          Trace the origins of each bottle and learn about the passionate
          winemakers who bring these masterpieces to life.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="discoverContainer">
        <div class="boxClass">
          <img
            loading="lazy"
            src="../../assets/images/wine (1).png"
            class="cssForshorticon"
          />
        </div>
        <div class="description">Explore our Cellar</div>
        <div class="content">
          Trace the origins of each bottle and learn about the passionate
          winemakers who bring these masterpieces to life.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="discoverContainer">
        <div class="boxClass">
          <img
            loading="lazy"
            src="../../assets/images/cherry.png"
            class="cssForshorticon"
          />
        </div>
        <div class="description">Tasting Redefined</div>
        <div class="content">
          Trace the origins of each bottle and learn about the passionate
          winemakers who bring these masterpieces to life.
        </div>
      </div>
    </div>
  </div>

  <div class="brownBox-container mt-3">
    <div class="boxview">
      <div class="column">
        <div class="user-reviews">
          <div class="number">120M+</div>
          <div class="label">User reviews</div>
        </div>
      </div>
      <div class="column">
        <div class="wine-farms">
          <div class="number">2000+</div>
          <div class="label">Wine farms</div>
        </div>
      </div>
      <div class="column">
        <div class="verified-users">
          <div class="number">400+</div>
          <div class="label">Verified users</div>
        </div>
      </div>
    </div>
  </div>

  <div class="asideContainer">
    <div class="row">
      <div class="col-md-6">
        <div class="boxImage"></div>
      </div>
      <div class="col-md-6">
        <div class="imgDetails">
          <h2 class="title">Wines from Every Horizon</h2>
          <p class="description">
            Embark on a worldwide expedition through our Global Cellar. From the
            hills of Tuscany to the valleys of Napa, our diverse collection
            brings the world of wines
          </p>
          <a href="#" class="buttonDetails">Check Details</a>
        </div>
      </div>
    </div>
  </div>

  <style>
    .asideContainer {
      align-self: stretch;
    }

    @media (max-width: 991px) {
      .asideContainer {
        padding-left: 20px;
      }
    }

    /* .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 47%;
      margin-left: 0px;
    } */

    /* @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    } */

    .boxImage {
      background-color: rgba(219, 170, 112, 0.18);
      display: flex;
      width: 550px;
      max-width: 100%;
      height: 520px;
      flex-direction: column;
      margin: auto;
      margin-top: 40px;
    }

    /* .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 53%;
      margin-left: 20px;
    }

    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    } */

    .imgDetails {
      justify-content: center;
      align-items: start;
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 50px 80px 50px 40px;
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }

    .title {
      color: var(--Grey-Primary-Normal, #333232);
      letter-spacing: -4.8px;
      margin-top: 56px;
      width: 360px;
      max-width: 100%;
      font: italic 200 80px/80px Crimson Pro, -apple-system, Roboto, Helvetica,
        sans-serif;
      font-size: 40px;
      line-height: 44px;
      margin-top: 40px;
    }

    .description {
      color: var(--Grey-Secondary-Normal, #7c7c7c);
      letter-spacing: -0.32px;
      margin-top: 28px;
      width: 424px;
      max-width: 100%;
      font: 500 16px/24px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
    }

    .buttonDetails {
      color: #fff;
      letter-spacing: -0.32px;
      white-space: nowrap;
      border-radius: 4px;
      box-shadow: 10px 10px 0px 0px #0e0103;
      background-color: var(--Ruby-300, #6a0919);
      justify-content: center;
      margin: 40px 0 35px;
      padding: 10px 40px;
      font: 600 16px/28px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
      white-space: initial;
      padding: 0 20px;
    }
  </style>
</div>
