<div class="container-scroller">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid page-body-wrapper">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Bid Info</h4>
            <!-- <p class="card-description">Basic form elements</p> -->
            <form class="forms-sample" [formGroup]="bidInfoForm">
              <!-- <div class="form-group">
                <label for="exampleInputName1">Select Product</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="products"
                  (ngModelChange)="onSelectProduct()"
                >
                  <option [ngValue]="0">Select Product</option>
                  <option
                    *ngFor="let product of product_list"
                    [ngValue]="product"
                  >
                    {{ product?.name + "-" + product?.quantity + " KG" }}
                  </option>
                </select>
              </div> -->
              <div class="form-group">
                <label for="exampleInputName1">Select Product</label>
                <ng-multiselect-dropdown
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Select Product"
                  [disabled]="selectButton"
                  [data]="product_list"
                  name="Product List"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Base-Bid Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail3"
                  placeholder="Enter Base-Bid Price"
                  formControlName="baseBidPrice"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Bid Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Bid Amount"
                  formControlName="bidAmount"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Bid StartDate</label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Bid StartTime"
                  formControlName="bidStartTime"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Bid EndDate</label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Bid EndTime"
                  formControlName="bidEndTime"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Bid StartTime</label>
                <input
                  type="time"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Bid StartTime"
                  formControlName="bidStart"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Bid EndTime</label>
                <input
                  type="time"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Bid EndTime"
                  formControlName="bidEnd"
                />
              </div>
              <!-- <div class="form-group">
                <label for="exampleInputPassword4">Remarks</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword4"
                  placeholder="Enter Remarks"
                  formControlName="remarks"
                />
              </div> -->
              <!-- <div class="form-group">
                <label for="exampleSelectGender">Gender</label>
                <select class="form-control" id="exampleSelectGender">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div> -->

              <!--  <div class="form-group">
                <label>Upload Video</label>

                <div class="input-group col-xs-12">
                  <input
                    type="file"
                    class="form-control file-upload-info"
                    placeholder="Upload Video"
                    multiple
                    (change)="onVideoChange($event)"
                    formControlName="video"
                    accept="video/*"
                  />
                </div>
              </div> -->
              <!-- <div class="form-group">
                <label for="exampleInputCity1">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputCity1"
                  placeholder="Location"
                />
              </div> -->
              <!-- <div class="form-group">
                <label for="exampleTextarea1">Textarea</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea1"
                  rows="4"
                ></textarea>
              </div> -->
              <button
                *ngIf="!isLoading && !update"
                type="submit"
                class="btn btn-primary me-2"
                [disabled]="bidInfoForm.invalid"
                (click)="onSubmit()"
              >
                Submit
              </button>
              <button
                *ngIf="update && !isLoading"
                type="submit"
                class="btn btn-primary me-2"
                (click)="onUpdateBidInfo()"
              >
                Update
              </button>
              <button
                *ngIf="isLoading"
                class="btn btn-primary me-2"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </button>
              <button
                *ngIf="!update && !isLoading"
                class="btn btn-light"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                *ngIf="update && !isLoading"
                class="btn btn-primary me-2"
                (click)="onUpdateCancel()"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->

        <!-- partial -->
      </div>
    </div>
  </div>
</div>
