<app-add-banner></app-add-banner>
<app-nav-component></app-nav-component>
<header class="main-container">
  <h2 class="title">Explore all wineries</h2>
  <div class="div-3">
    <div class="div-4">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ffd450f99191c0f4296336f79d8fe9d2c0f71f14942cf9fabbca95fe7630198e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
        class="img"
      />
    </div>
    <div class="div-5">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ff590dd41e4f2a06455c18d5509945d4d5be8873a500da8d5ce70f54a021490c?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
        class="img-2"
      />
      <div class="div-6">Search wine tasting centre...</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/481e847f373d7d396cb1000c438d188f4906e8c5280c83d6feb15e70d458100e?apiKey=1fe14665f73544eb8efeb9fb85c9e555&"
        class="img-3"
      />
    </div>
    <a href="#" class="div-7">Add new</a>
  </div>
</header>
